@page
@model Admin.Pages.Medias.IndexModel
@{
    ViewData["Title"] = "Index";
}
@for (int i = 0; i < 5; i++)
{
    <div class="row text-center">
        <div class="col">
            <p>This sample string</p>
        </div>
    </div>
}